* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body {
    height: 100%;
    width: 100%
}

/* #page1 {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(105, 191, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: rgb(6, 174, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}


#box {
    height: 200px;
    width: 200px;
    background-color: crimson;
}


h1 {
    font-size: 60px;
    position: relative;
    background-color: yellow;
    padding: 10px;
}

h2 {
    font-size: 60px;
    position: relative;
    background-color: green;
} */

body {
    overflow-x: hidden;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: black;
}


#page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(63, 196, 222);
    padding: 5vw 0;
}


#page3 {
    height: 100%;
    width: 100%;
    background-color: black;
}


#page2 h1 {
    font-size: 40vw;
    font-weight: 500;
    text-transform: uppercase;
}